<div ngbAccordion class="col-6">
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Calcular Média</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template> <app-calcular-media></app-calcular-media> </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Calculadora</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template> <app-calculadora></app-calculadora> </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Cadastro de Aluno</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template> <app-cadastro-aluno></app-cadastro-aluno> </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Apólice de Seguro</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template> <app-apolice-seguro></app-apolice-seguro></ng-template>
          </div>
        </div>
      </div>
  </div>